# Ignore gradle files
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


# Ignore IDEA files
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.settings
.bin
.project*
gitattributes.bib:Zone.Identifier
.factorypath
**/logs/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/